/*******************************************/
/*                CONTENT                 */
/*****************************************/
main {
  padding-top: 70px;
  &.home {
    section {
      &.intro {
        height: 45vh;
        background-color: $cl-purple;
        background-image: url("../images/cover-purple.png");
        background-position: center;
        background-size: 96%;
        background-repeat: no-repeat;
        @include bp(small) {
          background-size: cover;
        }
      }
      &.search {
        margin-top: -80px;
        // z-index: $max-z-index;
      }
    }
  }
}
@include bp(small) {
}
