/*******************************************/
/*                CONTENT                 */
/*****************************************/
main {
  &.home {
    margin-top: -70px;
    section {
      &.intro {
        height: 45vh;
        background-color: $cl-purple;
        background-image: url("../images/cover-purple.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
      &.search {
        margin-top: -80px;
      }
      &.info {
        .width {
          width: 50%;
          margin: 0 auto;
          @include bp(medium) {
            width: 100%;
          }
        }
      }
    }
  }
}
@include bp(small) {
}
